* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: rgb(25, 200, 250);
}

.main-color,
.border-main {
    color: var(--main-color);
    border-color: var(--main-color) !important;
}

.first-bg .navbar-dark {
    background-color: red;
}

.first-bg .navbar-dark .container {
    height: 55px;
    min-width: 266px;
    padding-right: 70px;
}

.first-bg .navbar-dark .container .navbar-brand {
    margin-bottom: 10px;
}

@media (max-width:767.5px) {
    .first-bg .navbar-dark .container .navbar-brand img {
        transform: translateY(-3px);
    }
}

.first-bg button {
    position: relative;
    bottom: 8.5px;
}

.first-bg .navbar-dark .container .navbar-nav {
    height: 55px;
    margin-bottom: -1px;
}

.first-bg .navbar-dark .container .navbar-nav:hover.nav-item {
    border-bottom: 1px solid var(--main-color);
}

.first-bg .navbar-dark .container .navbar-nav .nav-item {
    border-bottom: 1px solid transparent;
}

.container.position-relative div {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: -55px;
    border-left: 2px solid #fff;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.position-relative div i {
    color: #fff;
    cursor: pointer;
    padding-right: 15px;
}

.container.position-relative div i:hover {
    color: var(--main-color);
}